p {
  widows: 1;
  orphans: 1;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
}

.taxon {
  font-style: italic;
}

abbr.italic {
  font-style: italic;
}

span[id^="page"] {
  text-decoration: underline;
  font-style: italic;
}

span[id^="page"]::before {
  content: "[[[";
}

span[id^="page"]::after {
  content: "]]]";
}

span.captitle {
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
}

