body {
  font-family: 'Clear Sans', sans-serif;
}

code {
  font-family: 'Fira Mono', monospace;
  font-weight: 500;
}

p {
  widows: 1;
  orphans: 1;
}

a {
  text-decoration: none;
  color: purple;
}

/* for benefit of grayscale viewers */
a:link {
  color: purple;
}
a:visited {
  color: purple;
}

h1 {
  text-align: center;
}

.taxon {
  font-style: italic;
}

abbr.italic {
  font-style: italic;
}

.pbb {
  page-break-before: always;
}

figure.figure {
  padding: 0;
  margin: 0;
}

span.captitle {
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
}

.hidden {
  visibility: hidden;
}

ol.italic li {
  font-style: italic;
}

ol.italic li em {
  text-decoration: underline;
}

span.blockquote::before {
  content: "—";
  padding-left: 2em;
}

span.italic {
  font-style: italic;
}

blockquote.poem {
  font-family: 'Alex Brush', cursive;
  font-weight: normal;
  font-style: normal;
  font-size: 1.3em;
  text-align: center;
}

span.math-equation {
  vertical-align: -0.5ex;
  margin-bottom: 1px;
  margin-top: 1px;
}