ul.bib {
  list-style-type: none;
}

p[role="doc-biblioentry"] {
  padding-left: 1.5em;
  text-indent:-1.5em;
  margin-top: 0em;
  margin-bottom: 0.2em;
}

p[role="doc-biblioentry"] span.author {
  font-weight: bold;
}

p[role="doc-biblioentry"] span.author::after {
  content: ".";
}

p[role="doc-biblioentry"] span.title {
  text-decoration: underline;
}

p[role="doc-biblioentry"] span.title::after {
  content: ".";
}

p[role="doc-biblioentry"] span.journal {
  font-style: italic;
}

p[role="doc-biblioentry"] span.journal::after {
  content: ",";
}

p[role="doc-biblioentry"] span.publisher::after {
  content: ",";
}

p[role="doc-biblioentry"] span.details::after {
  content: ".";
}

p[role="doc-biblioentry"] span.doi::before {
  content: "["
}

p[role="doc-biblioentry"] span.doi::after {
  content: "]"
}

p[role="doc-biblioentry"] span.pdf::before {
  content: "["
}

p[role="doc-biblioentry"] span.pdf::after {
  content: "]"
}

p[role="doc-biblioentry"] span.note {
  font-style: italic;
}

p[role="doc-biblioentry"] span.note::before {
  content: "("
}

p[role="doc-biblioentry"] span.note::after {
  content: ")"
}

p[role="doc-biblioentry"] span.note em {
  font-style: italic;
  font-weight: bold;
}