ul.bib {
  list-style-type: none;
  padding-left: 0;
}

p.bib {
  padding-left: 1.5em;
  text-indent:-1.5em;
  margin-top: 0em;
  margin-bottom: 0.2em;
}

p.bib span.author {
  font-weight: bold;
}

p.bib span.author::after {
  content: ".";
}

p.bib span.title {
  text-decoration: underline;
}

p.bib span.title::after {
  content: ".";
}

p.bib span.journal {
  font-style: italic;
}

p.bib span.journal::after {
  content: ",";
}

p.bib span.publisher::after {
  content: ",";
}

p.bib span.details::after {
  content: ".";
}

p.bib span.doi::before {
  content: "["
}

p.bib span.doi::after {
  content: "]"
}

p.bib span.pdf::before {
  content: "["
}

p.bib span.pdf::after {
  content: "]"
}

p.bib span.note {
  font-style: italic;
}

p.bib span.note::before {
  content: "("
}

p.bib span.note::after {
  content: ")"
}

p.bib span.note em {
  font-style: italic;
  font-weight: bold;
}