/* some people, including but not exclusively those with dyslexia,
   sometimes have problems with italic fonts.
   Append this to a11y.css and most italicized fonts will
   use an alternative */

body {
  font-family: 'Clear Sans', -apple-system, 'Avenir Next', 'Noto Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

em {
  font-style: normal;
  font-weight: bold;
}

em strong {
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
}

strong em {
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
}

dfn {
  font-style: normal;
  text-decoration: underline;
}

.taxon {
  font-family: 'Averia', 'Gill Sans', sans-serif;
  font-style: normal;
  text-decoration: underline;
}

abbr.italic {
  font-style: normal;
}

span.captitle {
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
}

ol.italic li {
  font-weight: bold;
}

ol.italic li em {
  text-decoration: underline;
}

span.italic {
  font-weight: bold;
}

/* tables */

table caption {
  font-style: normal;
}

tr.units th {
  font-style: normal;
}

#dogalarm {
  text-align: left;
  font-style: normal;
  font-size: smaller;
}

/* litcited */

p.bib span.journal {
  font-style: normal;
}

/* titlepage */

text.ilogo {
  font-family: 'Clear Sans', -apple-system, 'Avenir Next', 'Noto Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* range map */
text.taxon {
  font-family: 'Averia', 'Gill Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
}