/* some people, including but not exclusively those with dyslexia,
   sometimes have problems with italic fonts.
   Append this to a11y.css and most italicized fonts will
   use an alternative */

body {
  font-family: 'Clear Sans', sans-serif;
}

em {
  font-style: normal;
  font-weight: bold;
}

em strong {
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
}

strong em {
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
}

dfn {
  font-style: normal;
  text-decoration: underline;
}

.taxon {
  font-family: 'Averia', sans-serif;
  text-decoration: underline;
}

abbr.italic {
  font-style: normal;
}

span.captitle {
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
}

ol.italic li {
  font-weight: bold;
}

ol.italic li em {
  text-decoration: underline;
}

span.italic {
  font-weight: bold;
}