text.legend {
  font-family: 'Clear Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
}

text.numberline {
  font-family: 'Clear Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
}

text.averia {
  font-family: 'Averia', sans-serif;
  font-style: normal;
  font-weight: normal;
}
