table {
  page-break-before: always;
}

caption {
  font-style: italic;
}

caption span.taxon {
  text-decoration: underline;
}

span.captitle {
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
}

th {
  font-size: smaller;
  font-weight: bold;
}

th[scope="row"] {
  text-align: left;
}

/* table 1,2 specific css */
table.style1 tr td {
  text-align: center;
}

table.style1 tr:nth-child(1) th {
  border-top: 2px solid;
}

table.style1 tr:nth-child(2) th {
  border-top: 2px solid;
}

table.style1 tr:nth-child(2) td {
  border-top: 2px solid;
}

table.style1 tr:last-child th {
  border-bottom: 2px solid;
}

table.style1 tr:last-child td {
  border-bottom: 2px solid;
}

table.style1 tr th:first-child {
  border-right: 2px solid;
}

table.style1 tr th:nth-child(2) {
  border-right: 2px solid;
}

table.style1 tr td:nth-child(2) {
  border-right: 2px solid;
}

/* table 2 specific */
table#table2 tr td:nth-child(2) {
  text-align: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* special */
tr.units td {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
